html {
  font-size: 62.5%;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 2rem;
  margin: 0 auto;
  position: relative;
}

header {
  margin-top: 2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav a {
  margin-right: 1.5rem;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.87);
}

.nav a:hover {
  text-decoration: underline;
}

.nav div {
  margin-right: 2rem;
}

.nav .fa-th {
  margin-right: 1rem;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all .2s ease-in;
}

.nav .fa-th:hover {
  color: rgba(0, 0, 0, 0.85);
}

.nav__notification {
  height: 2rem;
  width: 2rem;
  background-color: #db4437;
  border-radius: 10rem;
  position: relative;
}

.nav__notification:hover {
  background-color: #bc3b30;
}

.nav__notification a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.nav__notification a:hover {
  text-decoration: none;
}

.nav__account {
  height: 3.2rem;
  width: 3.2rem;
  background-color: #926E64;
  border-radius: 10rem;
  position: relative;
}

.nav__account a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #fff;
}

.nav__account a:hover {
  text-decoration: none;
}

.search {
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__box {
  text-align: center;
}

.search img {
  margin-bottom: 3rem;
}

.search__input {
  position: relative;
  margin-bottom: 3rem;
}

.search__input__text {
  width: 58rem;
  height: 4rem;
  padding: 5px 0;
  padding-left: 1.6rem;
  border: none;
  font-size: 1.6rem;
  color: #222;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search__input__text:focus {
  outline: none;
}

.search__input__text:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

.search__input img {
  position: absolute;
  top: .8rem;
  right: 1.8rem;
  height: 2.5rem;
}

.search__button {
  margin-bottom: 2.5rem;
}

.search input[type="submit"] {
  height: 3.6rem;
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 0 1.6rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #757575;
  margin: 11px 4px;
  transition: color .2s ease;
}

.search input[type="submit"]:hover {
  color: #333;
  border: 1px solid #c6c6c6;
}

.search__language {
  font-size: 1.2rem;
}

.search__language a {
  color: #1a0dab;
}

.search__language a:first-child {
  margin-left: .5rem;
}

.search__language a:last-child {
  margin-left: 1rem;
}

.search__language a:hover {
  text-decoration: underline;
}

.footer {
  position: fixed;
  background-color: #f2f2f2;
  bottom: 0;
  width: 100%;
}

.footer__1 {
  border-top: 1px solid #e4e4e4;
  padding: 1rem 0;
}

.footer__1 p {
  margin-left: 3rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.54);
}

.footer__2 {
  border-top: 1px solid #e4e4e4;
  padding: 1rem 0;
  font-size: 1.2rem;
}

.footer__2 a {
  color: #666;
}

.footer__2 a:hover {
  text-decoration: underline;
}

.footer__2-left {
  float: left;
  margin-left: 3rem;
}

.footer__2-left a {
  padding-right: 4.7rem;
}

.footer__2-right {
  float: right;
  margin-right: 3rem;
}

.footer__2-right a {
  padding-left: 4.7rem;
}

.footer__2:after {
  content: "";
  display: block;
  clear: both;
}

/*# sourceMappingURL=style.css.map */