// COLORS
$black-1: #000;
$black-2: #222;
$black-3: #333;
$black-4: #444;
$black-5: #555;
$black-6: #666;
$black-7: #777;
$black-8: #888;
$black-9: #999;

$white: #fff;

$red-1: #db4437;
$red-2: #bc3b30;

$grey-1: #f2f2f2;
$grey-2: #757575;
$grey-3: #c6c6c6;
$grey-4: #e4e4e4; // Footer border top


$brown-1: #926E64;

$blue-1: #0087EE;
$blue-2: #1a0dab;

// Media Query mobile first
$mf-largest: 75em; // 1200px/16px = 75
$mf-large: 62em; // 992px/16px
$mf-medium: 48em; // 768px/16px
$mf-small: 37.5em; // 600px/16px
$mf-smaller: 28.125em; // 450px/16px
$mf-smallest: 22.5em; // 360px/16px

// Media Query Desktop first
$bp-largest: 75em; // 1200px/16px = 75
$bp-large: 61.9375em; // 991px/16px
$bp-medium: 47.9375em; // 767px/16px
$bp-small: 37.5em; // 600px/16px
$bp-smaller: 28.125em; // 450px/16px
$bp-smallest: 22.5em; // 360px/16px






